<StackLayout>
    <Button text="Take Photo" (tap)="takePhoto()"></Button>
    <Button text="Upload" (tap)="sendPhoto()"></Button>
    <Label [text]="event"></Label>
    <Image #image [src]="imageSrc" stretch ="none" ></Image> 

</StackLayout>